body{
	background-image:url("");no-repeat
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.cuadropoke{
	border:solid 4px;
	border-color: #B44DCD;
	background-image:url("");
	font-weight: bolder;
}

.pokeName{
	border: solid #B44DCD 3px;
}
img{
	width: 130px;
	height: 130px;
}

.title{
	color: #FFFFFF;
	background-color: 	#800080;
	font-size: 50px;
	font-weight: bolder;
}